@import url('https://fonts.googleapis.com/css?family=Poppins:400,500');

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  --font1: 3.052rem;
  --font2: 2.441rem;
  --font3: 1.9563rem;
  --font4: 1.1.563em;
  --font5: 1.25rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

body {
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(194, 192, 192);
}

.menu {
  list-style: none;
  flex-basis: 100%;
  position: fixed;
  z-index: 1;
  backdrop-filter: blur(30px);
  box-shadow: 2px 2px 20px 0px black;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 0 3rem;
}
.nav-links > * {
  font-size: var(--font5);
  padding: 0.4rem;
  list-style: none;
  user-select: none;
  cursor: pointer;
}

.nav-burger {
  position: absolute;
  z-index: 2;
  font-size: 4rem;
  top: 0;
  left: 0;
  padding: 1rem;
  color: whitesmoke;
  background-color: grey;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 0 0 0.5rem 0;
  user-select: none;
}
.nav-burger:hover {
  width: 6rem;
  transition: width 60ms linear;
}

.nav-burger:active {
  width: 5rem;
  border-radius: 0;
  transition: all 80ms linear;
}

.todo-list {
  padding: 1rem;
  max-width: 40rem;
}

h1 {
  font-size: var(--font1);
  text-align: right;
  padding-right: 2rem;
}

.todo-item {
  font-size: var(--font3);
  padding: var(--font5);
  display: flex;
  flex-direction: row;
  word-break: break-all;
  word-wrap: break-word;
  flex-wrap: wrap;
  background-color: white;
  margin: 0.3rem;
  border-radius: 0.3rem;
}

.todo-description {
  flex-basis: 100%;
}
/*
.todo-item::after {
  content: 'bruh';
  background-color: whitesmoke;
  padding: 1rem;
}
*/

.todo-priority {
  padding: 0.4rem;
  padding-left: 7rem;
  color: red;
}

.card {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 90vh;
  width: 90vw;
  max-width: 60rem;
  background-color: rgb(212, 212, 212);
  overflow-y: scroll;
}
input {
  transform: scale(1.6) translateX(-1rem);
}

.close-btn {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}
.close-btn:hover {
  transform: rotate(90deg);
  transition: all 100ms linear;
}

.menu-hidden {
  visibility: hidden;
}

.add-project {
  user-select: none;
  cursor: pointer;
  color: lightgrey;
  background-color: black;
}

.add-todo-button {
  background-color: lightblue;
  border-radius: 50%;
  position: absolute;
  right: 5rem;
  bottom: 2rem;
  font-size: 4rem;
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 30ms linear;
}

.add-todo-button:hover {
  transform: scale(1.1);
}

.add-todo-button:active {
  transform: scale(0.95);
}

@media only screen and (max-width: 50rem) {
  .card {
    padding: 0;
    width: 95vw;
    height: 100vh;
  }
  body {
    padding: 0.2rem;
  }
}
